<p>book-by-id works!</p>

<table class="col-md-9  offset-1 ">
    <tr class="">
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>      
      <th>Price</th>
      
      <th>ProdId</th>
      <th>Book Type</th>
    </tr>


       <th><tr>{{BookByIdData.id}}</tr> </th>
       <th><tr>{{BookByIdData.name}}</tr> </th>
       <th><tr>{{BookByIdData.description}}</tr> </th>
       <th><tr>{{BookByIdData.price}}</tr> </th>
       
       <th><tr>{{BookByIdData.prodId}}</tr> </th>
       <th><tr>{{BookByIdData.genre}}</tr> </th>

</table>
